# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# misc
balanza/
dbf2open/

# no estan por tamañor!
ip_zuni_data/
ip_zuni_profile/

.hgignore
.directory
.hg
.metadata
.git
.pyc
.html
.png
.gif
.jpeg
.jpg
.idea
.kdev4
.pydevproject
.ropeproject
.settings
.project
*.sql
*.lzma
*.sql.gz
*.orig
*.tgz
*.gz
*.bz2
*.tar
*.tar.gz
*.tar.xz
*.txz
*.xz
*.zip
*.ttf
*.csv.bak
*.project

/template
/opentck3/baul/
/opentck3/inout/
/opentck3/retreive_id_from_cod_or_equiv_from_cod
/opentck3/test.db
/opentck3/test3.db
/opentck3/.idea.preserve/
/opentck3/.idea/
/opentck3/redo/
*.swp
/ip/ip_ticket/baul/
/ip/ip_ticket/cta_ticket/_report/
*baul/
/rv_prod/
/cfe_in/
/.Trash-1000/
/.settings/
/ip/ip_partner/data/
/open2open/migrate/
/open2open/baul/
*.org/
*./eclipse
/.eclipse/
*.eclipse/
Salidapazosnuevo-1-*
doc/
vta/
.*wizard/as*
ip_ticket/cta_ticket/report/base_report_designer/*
ip_ticket/wizard/asi_quedo_mediopago
ip_ticket/report/tmp*
ip_simpleacc*
ip_ticket/cta_ticket/estado_cuenta/
ip_ticket/cta_ticket/report/tar/
ip_ticket/wizard/ot/conf/config_BAK.py
ot/inout/json/.spazos_tck.db
ot/log/*
estos
aca
setup.py
